* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
}

.container {
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}



h3{
    font-size: 50px;
    color: rgba(83, 83, 167, 0.525);
    text-align: center;
}



.keyEvent>h3 {
    font-size: 30px;
    color: rgba(83, 83, 167, 0.525);
}

.keyEvent>p{
    font-size: 30px;
    text-align: center;
    line-height: 65px;
}

.key,
.eventCodes,
.keyCode {
    width: 200px;
    height: 65px;
    margin: 8px;
    background-color: white;
    border-radius: 10px;
    border: 4px solid lightgray;
    text-align: center;
    line-height: 50px;
}
